.top{
	height: 100px;

}
.main{
	height: 1000px;
}
.div{
	height:50px;
}
.post{
	height:450px;
}
.post1{
	height:500px;
}
h5{
	font-size:15px;
}
.inp{
	background-color:#eaedf2;

}
